$backgroundColor: #000;

/***
  CUSTOM CSS HERE
***/
.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

// streaming video link
.streaming-video-link {
  display: block;
  position: relative;
  width: 80%;
  margin: auto;

  .clickhere {
    width: 75%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .video-screen {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 2.5%;
    bottom: 2.5%;
    right: 2.5%;
    left: 2.5%;
    z-index: 5;
  }
}
// END: custom css
//
// typography
@font-face {
  font-family: 'PlacardMT-BoldCondensed';
  src: url('../fonts/PlacardMT-BoldCondensed.eot?') format('eot'),
       url('../fonts/PlacardMT-BoldCondensed.woff') format('woff'),
       url('../fonts/PlacardMT-BoldCondensed.ttf')  format('truetype'),
       url('../fonts/PlacardMT-BoldCondensed.svg#PlacardMT-BoldCondensed') format('svg');
}

// general
html {
  position: relative;
}

.full-w {
  width: 100%;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99999;
  background-color: $backgroundColor;
}
