$gradientTop: black;
$gradientBottom: red;
$textColor: white;
$textAccent: red;
/***
  CUSTOM CSS HERE
***/
.header {
  margin-bottom: 20px;
}
// END: custom css


// typography
@font-face {
  font-family: 'PlacardMT-BoldCondensed';
  src: url('../fonts/PlacardMT-BoldCondensed.eot?') format('eot'),
       url('../fonts/PlacardMT-BoldCondensed.woff') format('woff'),
       url('../fonts/PlacardMT-BoldCondensed.ttf')  format('truetype'),
       url('../fonts/PlacardMT-BoldCondensed.svg#PlacardMT-BoldCondensed') format('svg');
}
// general
html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body {
  height: 100%;
}

.full-w{
  width: 100%;
}

#background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -99999;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: $gradientBottom; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($gradientTop, $gradientBottom); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($gradientTop, $gradientBottom); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($gradientTop, $gradientBottom); /* For Firefox 3.6 to 15 */
  background: linear-gradient($gradientTop, $gradientBottom); /* Standard syntax */
}
