---
title: Video Landing Page
---
<!-- default background color -->
<div id="background"></div>
<!-- header img -->
<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/header.png">
<!-- video link -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 margin">
      <div id="streaming-video">
        <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/video-laser.png">
        <img id="click-here" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/video-text-new.png">
        <img id="video-screen" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/video-screen.png">
        <iframe src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </a>
    </div>
  </div>
</div>
<!-- footer img -->
<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/footer.png">
