---
title: Video Landing Page
---
<!-- default background color -->
<div id="background"></div>
<!-- header img -->
<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/header.png">
<!-- video link -->
<div class="row">
  <div class="col-xs-12 margin">
    <a class="streaming-video-link" href="#">
      <img class="clickhere" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/video-text.png">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/video-laser.png">
      <img class="video-screen" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/video-screen.png">
    </a>
  </div>
</div>
<!-- footer img -->
<img class="full-w" src="https://s3.amazonaws.com/myfangate.com/TSM-RDMA-Live-Stream/footer.png">
